---
import Card from "./card.astro";

const certificates = [
        {
            title:"Desarrollo Web",
            picture:"/images/630c032d9112aa002425d43b.png",
            cssImg:"border: 4px solid #fdfd01;",
            cssDiv:"background-color:#f73877;",
            cssTitle:"color: #131212;"
        },
        {
            title:"Javascript",
            picture:"/images/632d086470a306000f24a413.png",
            cssImg:"border: 4px solid #fdfd01;",
            cssDiv:"background-color:#f73877;",
            cssTitle:"color: #131212;"
        },
        {
            title:"React Js",
            picture: "/images/634d2df86c0b1d000e1adb9f.png",
            cssImg:"border: 4px solid #fdfd01;",
            cssDiv:"background-color:#f73877;",
            cssTitle:"color: #131212;"
        },
        {
            title:"Back-end",
            picture:"/images/640cf6386936da000e35fa2a.png",
            cssImg:"border: 4px solid #fdfd01;",
            cssDiv:"background-color:#f73877;",
            cssTitle:"color: #131212;"
        },
        {
            title:"Emplear+ Empujar",
            picture:"/images/diploma Empujar+ Emplear.png",
            cssImg:"border: 4px solid #0000ff",
            cssDiv:"background-color: #069af0",
            cssTitle:"color: #fff"
        }
    ]
---


<div class="container__list-card">
    {
        certificates.map(item =>(
            <Card
                titulo={item.title}
                imagen={item.picture}
                cssImg={item.cssImg}
                cssDiv={item.cssDiv}
                cssTitle={item.cssTitle}
            />
        ))
    }
</div>
