---
import Card from "./card.astro";
import AxiosServices from "../services/axiosServices.js";
import dotenvConfig from "../config/dotenv.config";

const {URL_CERTIFICATES} = dotenvConfig.path;

const services = new AxiosServices(URL_CERTIFICATES);

const response = await services.getAll();
const certificates = response.data.payload;

---

<div class="container__list-card">
    {
        certificates.map(item =>(
            <Card
                titulo={item.title}
                imagen={item.picture}
                cssImg={item.cssImg}
                cssDiv={item.cssDiv}
                cssTitle={item.cssTitle}
            />
        ))
    }
</div>