---
import CardProject from "./cardProject.astro";

const personalProjects = [
    {
        name:"proyecto de desarrollo web",
        description:"HTML,CSS,SASS,GRID,@media, bootstrap",
        gitHub:"https://github.com/TolabaE/proyectoWeb",
        linkDeploy:"https://pimentonrojo.netlify.app",
        picture:"/proyectoweb.webp"
    },
    {
        name:"proyecto de JavaScript",
        description:"HTML,CSS,SASS,@media,JSON,Fetch",
        gitHub:"https://github.com/TolabaE/proyectoJavaScript",
        linkDeploy:"https://ecommerceferreteria.netlify.app",
        picture:"/proyectoJavascript.webp"
    },
    {
        name:"Ecommerce Phone-Store",
        description:"HTML,CSS,React JS,Bootstrap,Firebase,Sweetalert2 ,@media",
        gitHub:"https://github.com/TolabaE/ecommerReactJs",
        linkDeploy:"https://ecommer-phone-store.netlify.app",
        picture:"/proyectoReactJS.webp"
    },
    {
        name:"Proyecto Chats",
        description:"HTML,CSS,JS,express,socket.io, ejs, dotenv,mongoose,sweetalert2, toastify.js,@media",
        gitHub:"https://github.com/TolabaE/projectChatJs",
        linkDeploy:"",
        picture:"/proyectochats.webp"
    }
]


---


<section class="portfolio__section-project" id="project">
    <h1>Mis Proyectos Personales</h1>
    <div class="container__proyects-list">
        {
            personalProjects.map(project =>(
                <CardProject
                    title={project.name}
                    image={project.picture}
                    technologies={project.description}
                    gitHub={project.gitHub}
                    deploy={project.linkDeploy}
                />
            ))
        }
    </div>
</section>