---
import CardProject from "./cardProject.astro";

const personalProjects = [
    {
        name:"Proyecto de Desarrollo web",
        description:"Sitio que brinda información sobre productos del norte argentino realizado con HTML,CSS,SASS,GRID, bootstrap , es un proyecto de maquetado web,  ",
        gitHub:"https://github.com/TolabaE/proyectoWeb",
        linkDeploy:"https://pimentonrojo.netlify.app",
        picture:"/proyectoweb.webp"
    },
    {
        name:"Ecommerce Ferreteria",
        description:"Proyecto realizado con javascript vanilla y HTML,CSS,SASS, JSON,Fetch ,sweetalert2,toastify.js",
        gitHub:"https://github.com/TolabaE/proyectoJavaScript",
        linkDeploy:"https://ecommerceferreteria.netlify.app",
        picture:"/proyectoJavascript.webp"
    },
    {
        name:"Ecommerce Phone-Store",
        description:"Proyecto realizado en React.Js con HTML, CSS, Bootstrap,Firebase, Sweetalert2. permite agregar productos al carrito y simula una compra",
        gitHub:"https://github.com/TolabaE/ecommerReactJs",
        linkDeploy:"https://ecommer-phone-store.netlify.app",
        picture:"/proyectoReactJS.webp"
    },
    {
        name:"Proyecto Chats",
        description:"Desarrollado en HTML, CSS,JS ,express, socket.io, Plantilla ejs, dotenv, mongoose,sweetalert2, toastify.js, permite la comunicación entre varios usuarios en tiempo real.",
        gitHub:"https://github.com/TolabaE/projectChatJs",
        linkDeploy:"https://project-chats-js.onrender.com",
        picture:"/proyectochats.webp"
    },
    {
        name:"Tienda gamer",
        description:"Proyecto en desarrollo, herramientas utilizadas html,css javascript, express.js ,socket.io",
        gitHub:"https://github.com/TolabaE/gamer-store-ecommerce.git",
        linkDeploy:"https://gamer-store-server.onrender.com",
        picture:"/proyectobackend.png"
    }
    // {
    //     name:"Medicina Libros",
    //     description:"Proyecto desarrollado en React.js, y conectadoa un servidor que registra los usuarios, almacena los productos.",
    //     gitHub:"https://github.com/TolabaE/coder-project-frontend",
    //     linkDeploy:"https://ventalibrosmedicina.netlify.app/",
    //     picture:"/ventalibrosmedicina.webp"
    // }
]


---

<section class="portfolio__section-project" id="project">
    <h1>Mis Proyectos Personales</h1>
    <div class="container__proyects-list">
        {
            personalProjects.map(project =>(
                <CardProject
                    title={project.name}
                    image={project.picture}
                    technologies={project.description}
                    gitHub={project.gitHub}
                    deploy={project.linkDeploy}
                />
            ))
        }
    </div>
</section>