---
import CardServices from "./cardServices.astro";
import dotenvConfig from "../config/dotenv.config.js";
import AxiosServices from "../services/axiosServices.js";

const {URL_SERVICES} = dotenvConfig.path;

const skillServices = new AxiosServices(URL_SERVICES);

const response = await skillServices.getAll();

const {payload} = response.data;


let primaryServices = payload[0].primaryTools;
let secondaryServices = payload[1].secondaryTools;

---

<section id="services" class="container__services">
    <h2>Herramientas Primarias</h2>
    <div class="container__services-primary">
        {
            primaryServices.map(item =>(
                <CardServices
                    image={item.image}
                    detail={item.description}
                    name={item.name}
                />
            ))
        }
    </div>
    <h2>Herramientas secundarias</h2>
    <div class="container__services-secondary" >
        {
            secondaryServices.map(item=>(
                <CardServices
                    image={item.image}
                    detail={item.description}
                    name={item.name}
                />
            ))
        }
    </div>
</section>