---
import CardServices from "./cardServices.astro";


let primaryServices = [];
let secondaryServices = [];

const response = await fetch('http://localhost:8080/user/portfolio/services');
const {payload} = await response.json();

payload.forEach(item => {
    if (item.id === 1) {
        primaryServices = item.primaryTools;
    } else if(item.id === 2) {
        secondaryServices = item.secondaryTools;
    }
});

---



<section id="services" class="container__services">
    <h2>Herramientas Primarias</h2>
    <div class="container__services-primary">
        {
            primaryServices.map(item =>(
                <CardServices
                    image={item.image}
                    detail={item.description}
                    name={item.name}
                />
            ))
        }
    </div>
    <h2>Herramientas secundarias</h2>
    <div class="container__services-secondary" >
        {
            secondaryServices.map(item=>(
                <CardServices
                    image={item.image}
                    detail={item.description}
                    name={item.name}
                />
            ))
        }
    </div>
</section>